@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url('../img/yellow-bird.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .navigation a{
    color: rgb(223, 218, 117);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: rgb(0, 0, 0);
}

.content{
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2{
    color: #ffd666;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.content .info p{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 40px;
    color: #e5d584;
}

.content .info-btn{
    color: #fff;
    background: #5b7e54;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition-property: background;
}

.content .info-btn:hover{
    background: #d4c46b;
}

.about{
    width: 700px;
    background: rgb(0, 0, 0, 0.4);
    margin: 0 auto;
    margin-top: 5%;
    padding: 25px;
}

.content .about p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
    color: #f3ecd7;
}

.media-icons{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color: #ffffff;
    font-size: 25px;
    transition: 00.3s;
    -webkit-transition: 00.3s;
    -moz-transition: 00.3s;
    -ms-transition: 00.3s;
    -o-transition: 00.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

footer {
    text-align: center;    
    background-color: black;
    color: white;
    bottom:0;
    clear:both;
    width:100%;
    height:100px;
}
.letraFooter p {
    
    font-size: 22px;
}

.letraFooter a {
color: white;
text-decoration:none;
}

