body, html{
    font-family: roboto;
    background-image: url(../img/Grises.png);
    height: 100%;
}

.profile-photo{
    /* margin:10px auto; */
    /* display:flex; */
    max-width: 300px;
}

.linkedin{
    /* margin:10px auto; */
    max-width: 100px;
}

h1{
    font-family: satisfy;
    font-size: 50px;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 75px;
    margin:10px auto;
}

.a{
  grid-column: 1 / 3;
  grid-row: 1;
}

.b{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background: rgba(230, 184, 184, 0.5) ;
}

.c{
    grid-column: 4;
    grid-row: 1;
}